body {
    background: #231F20;
    text-align: center;
    font-family: 'Cursed Timer ULiL';
}

.container {
    display: flex;
    background: #004689;
    width: 1400px;
    margin: 20px auto;
    flex-direction: column;
    align-items: center;
    border: 3px solid #FFFFFF;
    border-radius: 40px;
}

.first-board {
    display: flex;
}

.timer,
.timer14 {
    background-color: #004689;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    width: calc(60% - 20px);
    margin-right: 20px;
    float: left;
    color: white;
}

.timer h1,
.timer14 h1 {
    font-size: 70px; /* Títulos más pequeños */
    margin-bottom: 10px;
}

.timer h2,
.timer14 h2 {
    font-size: 80px; /* Segundos más grandes */
    margin-bottom: 20px;
}

.timer button,
.timer14 button {
    display: inline-block;
    width: calc(23% - 10px);
    margin: 10px 5px;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.timer button:hover,
.timer14 button:hover {
    background-color: #45a049;
}
